/* ADD YOUR STYLES HERE */

/* Sixth Q */
.spaced > * {
	padding: 22px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.spaced {
	text-align: center;
}

.spaced li {
	margin-left: 30px;
}

/* Seventh Q */
.vert {
	padding-top: 15%;
	padding-bottom: 15%
}

/* Eigth Q */
.Hlist li {
	display: inline;
	float: left;
}

.Hlist {
	padding: 0;
}

/* Ninth Q */
.butt {
	background-color: #ED828A;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;

}

.Buy {
	width: 215px;
	height: 70px;
	padding-top: 27px;
	padding-left: 72px;
}

.other {
	width: 160px;
	height: 40px;
	border-style: none;
}

.Learn {
	width: 160px;
	height: 40px;
	padding-top: 10px;
	padding-left: 37px;
}

.OK {
	width: 36px;
	height: 26px;
	padding-top: 4px;
	padding-left: 6px;
}


