/* ADD YOUR STYLES HERE */

/* Sixth Q */
.spaced > * {
	padding: 22px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.spaced {
	text-align: center;
}

.spaced li {
	margin-left: 30px;
}

/* Seventh Q */
.vert {
	/*padding: auto;*/
	padding-top: 15%;
	padding-bottom: 15%
}
/*
.vert > * {
	vertical-align: center;
}*/