/* ADD YOUR STYLES HERE */

/* Sixth Q */
.spaced > * {
	padding: 22px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.spaced {
	text-align: center;
}

.spaced li {
	margin-left: 30px;
}

/* Seventh Q */
.vert {
	padding-top: 15%;
	padding-bottom: 15%
}

/* Eigth Q */
.Hlist li {
	display: inline;
	float: left;
}

.Hlist {
	padding: 0;
}

/* Ninth Q */
.butt {
	background-color: #ED828A;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;

}

.Buy {
	width: 215px;
	height: 70px;
	padding-top: 27px;
	padding-left: 72px;
}

.other {
	width: 160px;
	height: 40px;
	border-style: none;
}

.Learn {
	width: 160px;
	height: 40px;
	padding-top: 10px;
	padding-left: 37px;
}

.OK {
	width: 36px;
	height: 26px;
	padding-top: 4px;
	padding-left: 6px;
}

/* Tenth Q */
.navigation {
	background-color: #ED828A;
	border-radius: 5px;
	height: 40px;
	margin: 0;
 	padding: 0;
  	list-style: none;
  	width: 640px;

}

.navigation li {
  	float: left;
  	padding-top: 10px;

}

.navigation a {
	color: white;
	text-decoration: none;
	margin: 38px;
}

.navigation a:hover {
  color: blue;
}

nav {
	text-align: center;
}

/* Eleventh Q */
.page {
	list-style: none;
}

.page li {
	display: inline-block;
	font-size: 1.0em;
	margin: 10px;
	border-bottom: 4px solid #ED828A;
	
}

.page a {
	color: #ED828A;
	text-decoration: none;
}


.page li:first-child, .page li:last-child {
	border-bottom: none;
}

















